* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* reflection section index js */

.index-reflection-container {
  width: 100%;
  height: auto;
  border: 1px solid darkgray;
  border-radius: 8px;
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
  background-color: #9fc80918;
  gap: 5px;
}
.index-reflection-div {
  border-radius: 8px;
  height: auto;
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: 14px;
  margin-top: 4px;
}

.index-date-heading {
  color: var(--reflection-date-heading);
  font-weight: bold;
}

.index-reflection-heading {
  margin-top: 5px;
}
.index-reflection-paragraph {
  color: var(--reflection-paragraph);
}


/* vault reflection container section in vault js */
.vault-reflection-container {
  width: 100%;
  height: auto;
  border: 1px solid darkgray;
  border-radius: 8px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  background-color: var(--container-background-color);
}

.date-and-tag-container {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.dateAndIconDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}
.vault-date-paragraph {
  color: var(--vault-date-paragraph);
  font-weight: bold;
  width: 30%;
}

.vault-created-tag-container {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  height: 40px;
  gap: 18px;
}

.vault-created-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 5px grey;
  background-color: var(--vault-created-tag);
  padding: 4px 10px;
  font-size: 14px;
  gap: 7px;
}

.cross-icon-div {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease-in-out;
}

.cross-icon-div:hover {
  cursor: pointer;
  background-color: var(--cross-icon-div-hover);
  transition: all 200ms ease-in-out;
  box-shadow: 0px 4px 4px grey;
  color: white;
}

.vault-heading {
  margin-top: 10px;

}
.vault-reflection-and-button-div {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.vault-reflection-paragraph-div {
  width: 87%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  height: auto;
  margin-top: 10px;
}

.vault-reflection-paragraph-div-expand {
  width: 87%;
  height: auto;

  margin-top: 5px;
}

.vault-reflection-paragraph-div p,
.vault-reflection-paragraph-div-expand p {
  font-size: 15px;
  color: var(--vault-reflection-paragraph-div-p);
}
.expand-button {
  padding: 4px 10px;
  border: none;
  margin-bottom: 1px;
  background-color: var(--expand-button);
  color: white;
  font-weight: bold;
  transition: all 200ms ease-in-out;
  font-size: small;
}

.expand-button:hover {
  cursor: pointer;
  box-shadow: -4px 4px 5px grey;
  transition: all 200ms ease-in-out;
}

.expand-button-hidden {
  visibility: hidden;
}

.expand-button-visable {
  visibility: visible;
}

/* delete message section in vault.js */

.vault-delete-confirm {
  width: 150px;
  height: 100px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: white;
  margin-left: 800px;
  margin-top: 85px;
  position: absolute;
  box-shadow: 0px 4px 5px grey;
  font-weight: bold;
  font-style: italic;
}

.vault-confirm-is-displayed {
  display: none;
}

.vault-confirm-button-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 16px;
  background-color: white;
}
.vault-yes-button,
.vault-no-button {
  padding: 5px 14px;
  border-radius: 5px;
  border: 1px solid black;
}

.vault-yes-button:hover,
.vault-no-button:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: black;
  color: white;
  box-shadow: 0px 4px 5px grey;
}


/* new entry created tags section*/
.created-tag-and-close-button-container {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  width: 200px;
}

.created-tag-container {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 15px 5px;
  box-shadow: 0px 4px 5px grey;
  border: 1px solid black;
}

.delete-tag-button {
  border: none;
  background: none;
  transition: all 250ms ease-in-out;
  color:var(--delete-tag-button);
}

.delete-tag-button:hover {
  cursor: pointer;
  color: black;
  transition: all 250ms ease-in-out;
}