* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-VariableFont_wght.woff2");
}
:root {
  --main-background: #f9fee7;
  --placeholder-color: lightgrey;
}

.not-displayed {
  display: none;
}

/* navigation */
.new-entry-nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: var(--nav-height);
  padding-left: var(--nav-padding-left);
  padding-right: var(--nav-padding-right);
  background: var(--nav-background);
  box-shadow: 4px 4px 8px grey;
  position: relative;
  z-index: 2;
}

.home-page-link {
  text-decoration: none;
}
.title {
  color: var(--nav-title-color);
  transition: all 500ms ease-in-out;
}
.title:hover {
  transform: scale(1.03);
  transition: all 500ms ease-in-out;
}
.pages-and-icon-container {
  display: flex;
  align-items: center;
  font-size: 16px;
  height: 40px;
}
.new-entry {
  margin-left: 15px;
  border-bottom: 2px solid black;
  padding-bottom: 3px;
  font-weight: bold;
  font-size: medium;
}

.my-vault {
  color: var(--dark-text-color);
  transition: all 250ms ease-in-out;
}
.my-vault:hover {
  border-bottom: 2px solid var(--dark-text-color);
  padding-bottom: 2px;
  transition: all 250ms ease-in-out;
}

.vault-link {
  text-decoration: none;
}

.archive:hover {
  cursor: pointer;
}

.new-entry-profile-icon-logged-in {
  color: var(--profile-logged-in);
}
.profile-icon {
  transition: all 200ms ease-in-out;
}
.profile-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 200ms ease-in-out;
}

.logged-in-paragraph-container {
  width: 80px;
  font-size: 15px;
  font-style: italic;
  color: var(--logged-in-paragraph);
  font-weight: 500;
}
.pages-container {
  border: 1px solid green;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.pages-and-icon-container a {
  text-decoration: none;
  color: black;
}

.new-entry-sound-icon-container {
  display: flex;
  justify-content: center;
  width: 50px;
  gap: 10px;
  margin-left: 10px;
}
.sound-on-icon,
.sound-off-icon {
  color: black;
}

.sound-on-icon:hover,
.sound-off-icon:hover {
  cursor: pointer;
}
/* password-form-absolute */

.password-input-section-absolute {
  width: 74%;
  height: 90vh;
  background-color: var(--main-background);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.password-input-section-absolute-displayed {
  display: none;
}
.vault-is-displayed {
  visibility: hidden;
}
.password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 50%;
  gap: 22px;
  padding: 10px;
  border: var(--password-form-border);
  border-radius: 8px;
}

.password-form h3 {
  color: var(--password-form-h3);
}
.password-form-label-and-input-container {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.password-form-label-and-input-container label {
  font-weight: bold;
  color: var(--password-form-label);
}

.login-error-message {
  color: darkred;
  font-weight: bold;
  font-style: italic;
}
.password-form-label-and-input-container input {
  width: 125px;
  height: 30px;
  font-size: 15px;
}

.vault-login-confirm-button {
  width: 30%;
  height: 30px;
  font-size: 16px;
  background: var(--nav-background);
  border: none;
  border-radius: 8px;
  color: var(--login-confirm-button-colour);
  transition: all 500ms ease-in-out;
}

.vault-login-confirm-button:hover,
.vault-login-close-button:hover {
  cursor: pointer;
  box-shadow: 0px 4px 5px grey;
  transition: all 500ms ease-in-out;
}

.password-form-close-button-container {
  display: flex;
  width: 95%;
  justify-content: center;
  align-items: center;
}
.vault-login-close-button {
  height: 25px;
  width: 100px;
  border: none;
  background-color: var(--background-color-close-button);
  border-radius: 4px;
  font-size: 16px;
}
/* main section */

.newentry-main-section {
  display: grid;
  grid-template-columns: 20% 55% 25%;
  height: 980px;
  width: 100%;
  background-color: var(--main-background);
}

/* left-section */
.left-section {
  text-align: end;
  padding: 0px 30px;
}

.depth-insight {
  margin-top: 375px;
  color: lightgrey;
}

.depth-insight p {
  margin-top: 12px;
}
.main-section-container {
  position: relative;
}

.left-section,
.middle-section {
  background-color: var(--main-background);
  padding-top: 100px;
}
.right-section {
  background-color: var(--main-background);
  padding-top: 100px;
  padding-right: 20px;
  border-radius: 10px;
}
.right-section-image {
  width: 100%;
  height: 785px;
  background-image: var(--new-entry-background-image);
  background-size: cover;
  box-shadow: -4px 4px 5px grey;
  position: relative;
  border-radius: 10px;
}
/* main section */
.form-entry-header {
  height: 118px;
  border-left: 3px solid black;
  padding-left: 30px;
  padding-top: 8px;
}

.form-entry-header p {
  color: var(--dark-text-color);
  font-size: 20px;
}

.header-input {
  margin-top: 15px;
  font-size: 50px;
  background-color: var(--main-background);
  border: none;
  color: var(--dark-text-color);
  width: 95%;
}

.header-input:focus,
.reflection-input:focus {
  border-radius: 8px;
}

.header-input::placeholder {
  color: var(--placeholder-color); /* Orange-red */
  opacity: 1; /* Ensure full visibility (Firefox defaults to 0.5) */
  font-weight: bold;
}

/* Chrome, Safari, Edge (Chromium), Opera */
.header-input::-webkit-input-placeholder {
  color: var(--placeholder-color);
  opacity: 1;
  font-weight: bold;
}

/* create tag section */

.main-create-tag-section {
  height: auto;
  padding: 30px;
  width: 80%;
  border-left: 3px solid black;
}
.add-tags-header-and-button-container {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.add-tags-header {
  color: var(--dark-text-color);
}

.create-tag-newentry-header-button {
  background-color: var(--create-tag-newentry-header-button);
  padding: 5px 10px;
  transition: all 250ms ease-in-out;
  border: 1px solid black;
  font-weight: bold;
  font-size: 15px;
}

.create-tag-newentry-header-button:hover {
  box-shadow: 0px 4px 4px grey;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}

.created-tag-container,
.create-tag-newentry-header-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  gap: 10px;
  height: 30px;
}

/* create tag error message */
.create-tag-error-message {
  display: flex;
  justify-content: center;
  background-color: white;
  border: 1px solid darkred;
  padding: 10px 10px;
  width: 100%;
  border-radius: 4px;
  font-style: italic;
  color: darkRed;
  box-shadow: 0px 4px 5px grey;
  display: flex;
}

/* created tag section */
.created-tag-section {
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  padding: 10px 0px;
  display: flex;
  border: 2px dashed lightgrey;
  height: 90px;
  background-color: var(--main-background);
  border-radius: 8px;

  background-image: var(--created-tag-background-image);
  background-size: contain;
  background-repeat: no-repeat;
}

/* input section to create tag */

.input-section-for-tag {
  height: 150px;
  width: 50%;
  margin-top: 10px;
  margin-left: 30px;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 730px;
  left: 300px;
  background-color: var(--input-section-for-tag);
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0px 4px 5px grey;
  font-weight: bold;
}

.input-section-for-tag-display {
  display: none;
}

.heading-and-close-button-container {
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.input-close-button {
  border: none;
  background: none;
  transition: all 250ms ease-in-out;
}
.input-close-button:hover {
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 0px 4px 5px grey;
  padding: 0px 5px;
  transition: all 250ms ease-in-out;
}
.input-emoji-and-input-title-container {
  display: flex;
  align-items: center;
  padding-left: 57px;
  gap: 20px;
  height: 60%;
  width: 100%;
}

.input-emoji {
  width: 50px;

  color: grey;
  font-size: x-large;
  height: 35px;
  padding-left: 5px;
  border: none;
}

.input-emoji::placeholder {
  color: darkgrey;
}

.input-title {
  width: 160px;
  padding-left: 10px;
  height: 30px;
  font-size: large;
  border: none;
}

.input-title::placeholder {
  font-size: 15px;
}

.emoji-container {
  display: flex;
  align-items: center;

  width: 57%;
  gap: 20px;
}

.emoji-icon-container {
  display: flex;
  gap: 10px;
  width: 100px;
  justify-content: space-between;
}

.input-add-tag-button {
  padding: 3px 25px;
  margin-top: 5px;
  background-color: var(--input-add-tag-button);
  font-weight: bold;
  transition: all 500ms ease-in-out;
}

.input-add-tag-button:hover {
  cursor: pointer;
  background-color: var(--input-add-tag-button-hover);
  box-shadow: 0px 4px 4px grey;
  transition: all 500ms ease-in-out;
}

/* animation */
.animation-main-container {
  margin-top: 50px;
  width: 80%;
  margin-left: 30px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid darkgrey;
  background-image: var(--new-entry-animation-background-image);
  background-size: cover;
  border-radius: 8px;
  transition: background-image 500ms ease-in;
}

.container-basics {
  width: 100%;
  height: 70px;
  border-radius: 8px;
  position: relative;
  z-index: 0;
  padding-right: 200px;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: rgba(255, 255, 255, 0.755);
}

.end-animation-icon-container {
  display: flex;
  justify-content: space-evenly;
  height: auto;
  width: 70%;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 4px 4px 5px black;
}

.icon-container-animation {
  display: flex;
  align-items: center;
  padding-left: 410px;

  position: relative;
}

.icon-container-central {
  gap: 20px;
}

.page {
  padding-left: 200px;
}
.open-book {
  position: absolute;
  right: 195px;
}

.page-animation {
  position: relative;
  z-index: 1;
  transform: translateX(210px);
  transition: all 2s ease-in-out;
}

.closed-book {
  transition: all 3s ease-in-out;
}

.success-message-container {
  width: 100%;
  text-align: center;
}
.success-message {
  color: black;
}

.displayed {
  display: none;
}

/* text area */
.reflection-input {
  width: 80%;
  height: 220px;
  margin-left: 30px;
  margin-top: 50px;
  background-color: var(--main-background);
  border: none;
  font-size: 20px;
  padding: 10px;
  color: var(--dark-text-color);
  border-color: var(--dark-text-color);
}

/* text area */
.reflection-input-display {
  display: none;
}

.reflection-input:focus {
  border: 3px solid darkgreen;
}

.reflection-input::placeholder {
  color: #eefcbb; /* Orange-red */
  opacity: 1; /* Ensure full visibility (Firefox defaults to 0.5) */
}

/* Chrome, Safari, Edge (Chromium), Opera */
.reflection-input::-webkit-input-placeholder {
  color: lightgrey;
  opacity: 1;
}

.input-counter-container {
  display: flex;
  font-size: small;
  justify-content: end;
  width: 80%;
  margin-left: 30px;
  margin-top: 5px;
  padding-top: 5px;
  height: auto;
  border-top: 1px solid black;
  color: var(--input-counter-container);
}

/* save entry error message section */

.save-entry-error-message {
  width: 80%;
  height: 40px;
  margin-left: 30px;
  display: flex;
  justify-content: end;
  margin-top: 10px;
  display: none;
}

.save-entry-error-message-displayed {
  display: block;
}

.error-message {
  font-style: italic;
  border: 1px solid darkred;
  background-color: white;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  width: 82%;
  border-radius: 6px;
  color: darkred;
  box-shadow: 0px 4px 5px grey;
  margin: auto;
}

/* insert memory message */
.insert-memory-discard-message-container {
  width: 70%;
  height: 100px;
  display: flex;
  align-items: end;
  position: absolute;
  top: 820px;
  left: 200px;
}

.insert-memory-message {
  background-color: white;
  border: 1px solid darkred;
  padding: 5px 20px;
  border-radius: 4px;
  font-style: italic;
  color: darkRed;
  box-shadow: 0px 4px 5px grey;
}

.display-memory-message {
  visibility: hidden;
}

.new-entry-private-error-message-container {
  display: flex;
  align-items: center;
  width: 320px;
  margin-left: 10px;
}

.new-entry-private-error-message {
  border: 1px solid darkred;
  background-color: white;
  font-style: italic;
  color: darkred;
  box-shadow: 0px 4px 5px grey;
  border-radius: 4px;
  padding: 5px 15px;
  font-size: 16px;
}
/* discard confirm section */
.discard-no-reflection-message {
  background-color: white;
  border: 1px solid darkred;
  padding: 10px 10px;
  width: 260px;
  border-radius: 4px;
  font-style: italic;
  color: darkRed;
  box-shadow: 0px 4px 5px grey;
}

.discard-confirm {
  width: 140px;
  height: 100px;
  border: 1px solid darkred;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: white;
  margin-left: 270px;
  color: darkred;
}

.hide-confirm-message {
  visibility: hidden;
}
.discard-confirm-button-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 15px;
  background-color: white;
}
.yes-button,
.no-button {
  padding: 5px 14px;
  border-radius: 5px;
  border: none;
  border: 1px solid black;
}

.yes-button:hover,
.no-button:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: red;
  color: white;
  box-shadow: 0px 4px 5px grey;
  transform: scale(1.05);
}

/* save entry section */

.save-entry-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 110px;
}

.newentry-paragraph-icon-container {
  display: flex;
  gap: 30px;
}
.button-and-icon {
  display: flex;
  gap: 12px;
  align-items: center;
  color: var(--dark-text-color);
  font-weight: bold;
}

.newentry-button-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.discard-button,
.private-button,
.insert-memory-button {
  color: var(--dark-text-color);
  font-weight: bold;
  border: none;
  background-color: var(--main-background);
  font-size: medium;
  transition: all 250ms ease-in-out;
}

.discard-button:hover,
.private-button:hover,
.insert-memory-button:hover {
  cursor: pointer;
  border-bottom: var(
    --discard-button-hover-private-button-hover-insert-memory-button-hover
  );
  color: var(
    --discard-button-color-private-button-color-insert-memory-button-color
  );

  transition: all 250ms ease-in-out;
  transform: scale(1.03);
}
.save-entry-button {
  height: 40px;
  width: 126px;
  border-radius: 6px;
  border: var(--save-entry-button-border);
  background-color: var(--dark-text-color);
  box-shadow: 0 4px 6px #888888;
  color: white;
  font-size: 16px;
  transition: all 250ms ease-in-out;
}

.save-entry-button:hover {
  cursor: pointer;
  background-color: var(--save-entry-button-hover);
  color: black;
  transition: all 250ms ease-in-out;
}

.my-vault-link-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.my-vault-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.my-vault-link-icon {
  color: white;
}
.my-vault-link:hover {
  transform: scale(1.07);
  text-decoration: underline;
}

/* footer */

.footer-newentry-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--footer-height);
  background-color: var(--footer-background-color);
  padding-left: var(--footer-padding-left);
  padding-right: var(--footer-padding-right);
}

.footer-newentry-container p {
  color: var(--dark-text-color);
}
.footer-newentry-nav {
  display: flex;
  gap: 20px;
  font-size: medium;
}

.footer-newentry-nav a {
  text-decoration: none;
  color: var(--dark-text-color);
  font-size: var(--footer-nav-a-font-size);
}
.footer-newentry-nav a:hover {
  cursor: pointer;
  border-bottom: var(--footer-nav-a-border-hover);
}
