:root {
  --nav-background: linear-gradient(45deg, green, 40%, lightgreen);
  --nav-title-color: white;
  --nav-height: 100px;
  --nav-padding-left: 25px;
  --nav-padding-right: 25px;
  --dark-text-color: darkgreen;

  --new-entry-button-hover: rgba(0, 100, 0, 0.502);
  --profile-logged-in: green;
  --logged-in-paragraph: darkgreen;
  --main-background: #f9fee7;
  --footer-background-color: lightgreen;
  --footer-height: 100px;
  --footer-padding-left: 25px;
  --footer-padding-right: 25px;
  --footer-p-font-size: 14px;

  --footer-nav-a-font-size: 14px;
  /* index and vault */
  --header-paragraph-color: grey;
  /* newentry */
  --placeholder-color: lightgrey;
}

[data-theme="dark"] {
  --nav-background: linear-gradient(45deg, blue, 40%, lightblue);
  --nav-title-color: white;
  --nav-height: 100px;
  --nav-padding-left: 25px;
  --nav-padding-right: 25px;
  --dark-text-color: darkblue;
  --new-entry-button-hover: rgba(0, 82, 100, 0.502);
  --profile-logged-in: blue;
  --logged-in-paragraph: darkblue;
  --main-background: #e7fbfe;
  --footer-background-color: lightblue;
  /* index and vault */
  --header-paragraph-color: grey;
  /* newentry */
  --placeholder-color: lightgrey;
}
